body{
	margin:0 !important;
}
#protograph-div{
  margin:auto;
}
#rainfall-div{
	height:100vh;
}
.agenda{
	height:100%;
	width:25%;
	float:left;
}
.main{
	height:100%;
}
.container{
	height:93%;
	width:100%;
}
.google-login{
	width:40%;
	height:40%;
	position: absolute;
	left:45%;
	top:45%;
}
.login-head{
	font-size: 70px;
	margin-bottom: 30px;
	margin-left: -40px;
}
.calendar{
	height:100%;
}
#headDiv {
	width: 100%;
	margin-bottom: 10px;
	height: 7%;
	background: #3174ad;
}
#nameDiv {
	display: inline-block;
	width: 80%;
	text-align: left;
	font-size: 34px;
	color: white;
	margin-top: 20px;
	margin-left:20px;
	margin-bottom: 10px;
}
