body{
	margin:0 !important;
}
#protograph-div{
  margin:auto;
}
#rainfall-div{
	height:100vh;
}
.meetings{
	display: inline-block;
	width: 20%;
	text-align: left;
	font-size: 24px;
	color: #E0E0E0;
	margin-top: 20px;
	margin-left:20px;
	margin-bottom: 10px;
}
.rbc-header{
	font-size: 16px !important;
}
.agenda{
	height:100%;
	width:25%;
	padding:0 8px;
	float:left;
	overflow: hidden;
}
.main{
	height:100%;
	padding:0 8px;
}
.agenda-header{
	font-size: 24px;
	margin-left: 12%;
	margin-bottom: 17px;
	margin-top:4px;
}
.container{
	height:93%;
	width:100%;
}
.google-login{
	width:40%;
	height:75%;
	position: absolute;
	left:45%;
	top:25%;
}
.login-head{
	font-size: 70px;
	margin-bottom: 200px;
	margin-left: -40px;
	/* color: white; */
}
.header{
	background-color: #3174ad !important;
}
.launcher{
	background-color: #3174ad !important;
}
.calendar{
	height:100%;
}
.red{
	background-color:#D50F25;
}
#headDiv {
	width: 100%;
	margin-bottom: 10px;
	height: 7%;
	background: #3174ad;
	-webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
#nameDiv {
	display: inline-block;
	height: 100%;
	width: 52%;
	text-align: left;
	font-size: 34px;
	color: white;
	/* margin-top: 20px; */
	margin-left:20px;
	margin-bottom: 10px;
}
.ranges {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	margin-bottom: 20px;
}
.rowTitle {
	width: 20%;
	text-align: center;
}
.rowSlider {
	width: 70%;
	text-align: center;
}
.rowCheck {
	width: 10%;
	text-align: center;
}
tr {
	height: 40px;
	text-align: center;
}
.submitButton {
    background-color: white;
    color: black;
    border: 2px solid #3174ad;
		margin-left: 50%;
		margin-right: 50%;
		transition: background 1s;
}

.submitButton:hover {
    background-color: #3174ad;
    color: white;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
